{{ form_start(form, {attr: { novalidate: 'novalidate', class: 'mx-3', id: 'task__form' }}) }}

<div class="row pt-2 pb-1">
    <div class="form-group col-md-12">
        <label class="form-label fw-bold">Name:</label>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group col-md-12">
        <label class="form-label fw-bold">Surname:</label>
        {{ form_widget(form.surname) }}
        {{ form_errors(form.surname) }}
    </div>

    <div class="form-group col-md-12">
        <label class="form-label fw-bold">License:</label>
        {{ form_widget(form.license) }}
        {{ form_errors(form.license) }}
    </div>
</div>

<div class="btn-toolbar justify-content-end mt-4">
    <button type="submit" class="form-control btn btn-primary">Create</button>
</div>

{{ form_end(form) }}